/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  height: 0;
  height: 1000vh;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  text-align: left;
  height: 100%;
}

/** elm-select */
.elm-select {
  position: relative;
  width: 250px;
  min-width: 160px;
  flex: 0 0 auto;
  height: 100%;
}

.elm-select-button {
  /* position */
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  max-width: 100%;

  /* style */
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;

  /* text ellipsis */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elm-select-button:hover,
.elm-select-button:focus {
  border-color: rgba(0, 0, 0, 0.3);
}

.elm-select-container {
  /* position */
  position: absolute;
  top: 100%;
  left: 0;
  overflow-y: auto;
  z-index: 1;

  /* dimension */
  width: 100%;
  max-height: 200px;
  margin: 4px 0 0;
  padding: 5px 0;
  box-sizing: border-box;

  /* style */
  background: #fff;
  transition: opacity 150ms ease-in-out;
  text-align: left;
  list-style: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  scroll-behavior: smooth;
}

.elm-select-list {
  position: relative;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: block;
}

.elm-select-option {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;

  /* text ellipsis */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elm-select-option--selected {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
}

.elm-select-option:hover,
.elm-select-option--focused {
  background-color: rgba(0, 0, 0, 0.13);
}
